*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 99vh;
}
h1{
    margin: 10px;
    color: blanchedalmond;
}
h2{
    margin: 10px;
    color: blanchedalmond;
    text-decoration: underline;
}
a{
    color: white;
    border :solid black;
    margin-top: 20px;
    padding: 2px;
    border-radius: 5px;
    text-decoration: none;
}
#doIt{
    text-decoration: none;
    font-size: 20px;
    border:solid;
    padding: 5px;
    border-radius: 5px;
}
p{
    color: white;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    margin: 10px;
    border-radius: 5px;
    border: none;
}
button{
    margin: 10px;
    border-radius: 5px;
    border: none;
}

span{
    width: 10px;
}

